body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  width: 180px;
}

.startButton {
  background-color: green;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.startButton:hover {
  background-color: rgb(104, 164, 104);
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.addButton {
  background-color: green;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.addButton:hover {
  background-color: rgb(104, 164, 104);
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.resetButton {
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.resetButton:hover {
  background-color: rgb(255, 130, 130);
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.disabled {
  background-color: grey;
}

.disabled:hover {
  background-color: grey;
}

.ball-stats-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
  width: 92%;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 0.7rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aqua;
  padding: 0 0.5rem;
}

.ball-stats-div p {
  font-weight: 800;
}

.slider {
  margin: 0;
  padding: 0;
}
