body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.start-button-div {
  display: flex;
  justify-content: center;

  margin-top: 50px;
  position: relative;
  z-index: 2;
}

.add-button-div {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}
