body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  width: 180px;
  background-color: aliceblue;
}

.top-right {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 3px;
  padding: 0.5rem;
}

.startButton {
  background-color: green;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.startButton:hover {
  background-color: rgb(104, 164, 104);
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.addButton {
  background-color: green;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.addButton:hover {
  background-color: rgb(104, 164, 104);
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.resetButton {
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.resetButton:hover {
  background-color: rgb(255, 130, 130);
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  width: 100%;
}

.disabled {
  background-color: grey;
}

.disabled:hover {
  background-color: grey;
}

.ball-stats-div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
  width: 93%;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 0.7rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(168, 212, 247, 0.742);
  padding: 0.5rem 0.5rem;
  border-radius: 3px;
}

.p-bold {
  margin: 0;

  padding: 0;
  font-weight: 800;
}

.slider {
  margin: 0;
  padding: 0;
}

.effects-gui {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.2rem;
  margin: 0.2rem;
  width: 94%;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 0.7rem;
}

@media (max-width: 700px) or (max-height: 600px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: aliceblue;
    gap: 0.2rem;
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
    width: 150px;
  }

  .top-right {
    font-size: 0.7rem;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    padding: 0.2rem;
  }

  .startButton {
    background-color: green;
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-size: 0.8rem;
  }

  .startButton:hover {
    background-color: rgb(104, 164, 104);
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-size: 0.8rem;
  }

  .addButton {
    background-color: green;
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-size: 0.8rem;
  }

  .addButton:hover {
    background-color: rgb(104, 164, 104);
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-size: 0.8rem;
  }

  .resetButton {
    background-color: red;
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-size: 0.8rem;
  }

  .resetButton:hover {
    background-color: rgb(255, 130, 130);
    color: white;
    padding: 0.2rem;
    border-radius: 3px;
    border: none;
    width: 100%;
    font-size: 0.8rem;
  }

  .disabled {
    background-color: grey;
  }

  .disabled:hover {
    background-color: grey;
  }

  .ball-stats-div {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.2rem;
    margin: 0;
    width: 94%;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 0.6rem;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(168, 212, 247, 0.742);
    padding: 0.2rem 0.2rem;
    border-radius: 3px;
  }

  .p-bold {
    margin: 0;

    padding: 0;
    font-weight: 800;
  }

  .slider {
    margin: 0;
    padding: 0;
  }

  .submit-button {
    font-size: 0.7rem;
  }

  .effects-gui {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.2rem;
    margin: 0;
    width: 94%;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 0.5rem;
  }
}
